.destribut-message{
    padding: 10px;
    background-color: black;
    border: 1px solid #cecece;
    position: absolute;
    width: 200px;
    height: 40px;
}

.destribut-message span{
    color: #cecece;
    text-align: justify;
}
